//
//  NotificationServiceConfig.xcconfig
//  Multisig
//
//  Created by Dmitry Bespalov on 05.08.20.
//  Copyright © 2020 Gnosis Ltd. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// DEV | STAGING | PROD
SERVICE_ENV = STAGING

// Bundle Identifier
_APP_BUNDLE_ID_PROD     = com.boveda.bovedapp.prod.NotificationServiceExtension
_APP_BUNDLE_ID_STAGING  = com.boveda.bovedapp.staging.NotificationServiceExtension
_APP_BUNDLE_ID_DEV      = com.boveda.bovedapp.dev.NotificationServiceExtension

// Xcode Build Settings
PRODUCT_BUNDLE_IDENTIFIER           = $(_APP_BUNDLE_ID_$(SERVICE_ENV):default=$(_APP_BUNDLE_ID_PROD))
PRODUCT_MODULE_NAME                 = NotificationServiceExtension
PRODUCT_NAME                        = NotificationServiceExtension

// App Groups
_APP_GROUP_ID_PROD     = group.com.boveda.bovedapp.prod
_APP_GROUP_ID_STAGING  = group.com.boveda.bovedapp.staging
_APP_GROUP_ID_DEV      = group.com.boveda.bovedapp.dev

APP_GROUP_ID            = $(_APP_GROUP_ID_$(SERVICE_ENV):default=$(_APP_GROUP_ID_PROD))
