//
//  Development.Mainnet.xcconfig
//  Multisig
//
//  Created by Dmitry Bespalov on 28.05.20.
//  Copyright © 2020 Gnosis Ltd. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Config.xcconfig"

SERVICE_ENV = DEV
CODE_SIGN_ENTITLEMENTS = Multisig_DEV.entitlements
CODE_SIGN_ALLOW_ENTITLEMENTS_MODIFICATION = YES

// Set executable name to APP_PRODUCT_NAME to fix Touch ID/Face ID issue
EXECUTABLE_NAME = $(APP_PRODUCT_NAME)
