//
//  ProductionMainnet.xcconfig
//  Multisig
//
//  Created by Dmitry Bespalov on 27.05.20.
//  Copyright © 2020 Gnosis Ltd. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Config.xcconfig"

SERVICE_ENV = PROD
CODE_SIGN_ENTITLEMENTS = Multisig_PROD.entitlements
SHOW_EMAIL_PASSWORD_LOGIN = NO

// Debug-only logging overrides for production
LOGGERS[config=Debug.Production] = crashlytics, console
LOG_LEVEL[config=Debug.Production] = DEBUG
